.flex-container {
    display: flex;
  }

  .card {
    background: blue;
    border: 30px solid white;
    height: 100px;
    flex: 1;
  }

  .first {
    flex: 2;
  }

  .second {
    flex: 0.5;
  }